*{
    margin: 0px;
    padding: 0px;
}

.manu-container{
    background-color: rgb(58, 51, 51);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-photo{
    width: 120px;
}

.manus{
    display: flex;
    
}

.item{
    margin-right: 14px;
    padding-right: 7px;
    font-size: 18px;
}

.item:hover{
    color: blue;
    cursor: pointer;
}


.banner-container{
    display: flex;
    justify-content: space-around;
    height: 500px;
    color: white;
    align-items: center;
    background-image: url("./images/background.png"),
    linear-gradient(45deg, #000, #2e2b2b );

}

.banner-img{
    width: 300px;
    font-weight: bold;
}

.title{
    font-size: 55px;


}

.descrition{
font-size: 18px;
margin-top: 15px;
margin-bottom: 15px;
}

.button-link{
    padding: 12px 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.button-link:hover{
    background-color: white;
    color: black;
}


.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.about-title{
    text-align: center;
    padding-top: 40px;
    font-size: 55px;
}