*{
    margin: 0px;
    padding: 0px;
}

.manu-container{
    background-color: rgb(58, 51, 51);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-photo{
    width: 120px;
}

.manus{
    display: flex;
    
}

.item{
    margin-right: 14px;
    padding-right: 7px;
    font-size: 18px;
}

.item:hover{
    color: blue;
    cursor: pointer;
}


.banner-container{
    display: flex;
    justify-content: space-around;
    height: 600px;
    color: white;
    align-items: center;
    background-image: url("./images/background.png"),
    linear-gradient(45deg, #000, #2e2b2b );

}

.banner-img{
    width: 300px;
    font-weight: bold;
}

.title{
    font-size: 55px;


}

.descrition{
font-size: 18px;
margin-top: 15px;
margin-bottom: 15px;
}

.button-link{
    padding: 12px 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.button-link:hover{
    background-color: rgb(191, 92, 92);
    color: black;
}


.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.about-title{
    text-align: center;
    padding-top: 40px;
    font-size: 55px;
}

.p-section{
    margin-bottom: 18px;

}

.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
    height: 600px;
    background-image: url("./images/background.png") ,
    linear-gradient(45deg, #000, #4f3d3d);
}


.box{
    width: 230px;
    height: 350px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 5px;
}


.icon-img{
    width: 70px;
}

.box-btn{
    background-color: gray;
    margin-top: 20px;
}

.box-title{
    margin-top: 20px;
    margin-bottom: 15px;
}


.information-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    color: white;
    height: 500px;
    width: 100%;
}

.useful-link{
    list-style: none;
}

.info-title{

    margin-top: 20px;
    margin-bottom: 25px;
}

.dag-dilam{
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    
    
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
   padding-bottom: 25px;
}

footer p {
    margin-top: 25px;
}